<includeonly><div id="root"></div><script type="module">__SCRIPT_CONTENT__</script><div style="display:none" id="filter-data">{{#ask:
[[分类:干员]]
|?职业
|?稀有度
|?标志
|?出身地
|?团队
|?种族
|?干员外文名
|?干员名jp
|?情报编号
|?满级生命
|?满级攻击
|?满级防御
|?满级法术抗性
|?再部署时间
|?部署费用
|?阻挡数
|?攻击速度
|?性别
|?位置
|?标签
|?获得方式
|?潜能加成
|?信赖加成
|?物理强度
|?战场机动
|?生理耐受
|?战术规划
|?战斗技巧
|?源石技艺适应性
|?特性
|?干员序号
|limit=500
|format=template
|template=干员筛选数据/2
|link=none
}}</div><div id="filter-filter" style="display:none">{{#widget:CharFilter/filter}}</div><div id="filter-map" style="display:none">{{#widget:CharFilter/map}}</div><div id="filter-shortLinkMap" style="display: none;">{{#widget:CharFilter/shortLinkMap}}</div></includeonly><noinclude>{{Documentation}}</noinclude>
