name: eslint

on:
  pull_request_target:

permissions:
  contents: read
  pull-requests: write

jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node Environment
        uses: ./.github/actions/setup-node

      - uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review # Change reporter.
          fail_on_error: true
          eslint_flags: '--cache --report-unused-disable-directives "**/*.{js,jsx,ts,tsx,cjs,mjs,vue}"'

  vue_tsc:
    name: runner / vue_tsc
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node Environment
        uses: ./.github/actions/setup-node

      - uses: daflyinbed/reviewdog-action-vue-tsc@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review # Change reporter.
          fail_on_error: true
          vue_tsc_flags: --noEmit
