name: Create Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: build
        run: |
          pnpm run build
          tar -czvf dist.tgz ./dist

      - name: Generate release note
        run: node ./.github/workflows/release-notes.mjs

      - name: Create release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: release-note.md
          files: dist.tgz
